@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

body {

    font-family: "Inknut Antiqua", serif;
    overflow-x: hidden;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    gap: 40px;
    padding-right: 50px;
    font-size: 1.3rem;
    color: #fff;
    font-weight: bold;
    list-style-type: none;
    cursor: pointer;
}

header ul li:hover {
    color: #EC221F;
}

h1 {
    margin-left: 20px;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 2px #EC221F;
}

.container {
    position: relative;
    width: 60px;
    /* Largeur réduite pour afficher uniquement les icônes */
    height: 100vh;
    background-color: #292929;
    border-radius: 0px 15px 15px 0px;
    transition: width 0.3s;
    overflow: hidden;
    /* Empêche le texte de déborder */
}

.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #292929;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-bar li {
    padding: 10px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.nav-bar i {
    font-size: 2rem;
    margin-left: 40px;
    width: 40px;
    text-align: center;
}

.nav-bar:hover i {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.nav-bar li:hover {
    background-color: #EC221F;
    border-radius: 0px 50px 50px 0px;
    text-align: center;
}


.container:hover {
    width: 200px;
    /* Largeur étendue pour afficher le texte */
}

.nav-bar li span {
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.container:hover .nav-bar li {
    justify-content: flex-start;
}

.container:hover .nav-bar li span {
    opacity: 1;
}