@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');


body {
    font-family: "Inknut Antiqua", serif;
    overflow-x: hidden;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container {
    position: relative;
    width: 60px;
    height: calc(100vh - 60px);
    background-color: #292929;
    border-radius: 0px 15px 15px 0px;
    transition: width 0.3s;
    overflow: hidden;
    margin-top: 145px;

}

.content-section {
    display: none;
    flex: 1;
    padding: 20px;
    background-color: rgb(228, 220, 220);
    color: #fff;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-section h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: rgb(236, 34, 31) 2px 2px 2px;
    margin-bottom: 180px;
}

.content-section.active {
    display: flex;
}

h1 {
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: rgb(236, 34, 31) 2px 2px 2px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    padding: 10px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul li {
    position: relative;
}

header ul li a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    gap: 40px;
    padding-right: 50px;
    font-size: 1.3rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

header ul li a:hover {
    color: #EC221F;
}

.sousMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #292929;
    display: none;
    min-width: 190px;
    border-radius: 15px;
}

.sousMenu li {
    margin: 0;
}

.sousMenu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

li:hover .sousMenu {
    display: block;
}

.nav-bar {
    position: absolute;
    top: 0;
    left: 7px;
    background-color: #292929;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-bar li {
    padding: 10px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 50px;
    margin-left: 25px;
}

.nav-bar i {
    font-size: 2rem;
    margin-left: 40px;
    width: 40px;
    text-align: center;
}

.nav-bar:hover i {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.nav-bar li:hover {
    background-color: #EC221F;
    border-radius: 0px 50px 50px 0px;
    text-align: center;
}

.container:hover {
    width: 200px;
}

.nav-bar li span {
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.container:hover .nav-bar li {
    justify-content: flex-start;
}

.container:hover .nav-bar li span {
    opacity: 1;
}

.connexionApp {
    background-color: #292929;
    width: 100%;
    display: flex;
    justify-content: center;

}

.connexionApp h1 {
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 2px #EC221F;
    margin-right: -18%;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30%;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
}

.login-form input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: black;
    font-weight: bold;
}

.login-form button[type="submit"] {
    background-color: #EC221F;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px;
    margin-top: 5px;
}

.toggle-password1 {
    position: absolute;
    top: 56.5%;
    right: 54.5%;
    transform: translateY(-50%);
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
}

.login-form a {
    color: #EC221F;
    text-decoration: none;
    margin-top: 10px;
    font-weight: bold;
}

.modal-clients {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-content {
    background: #fff;
    padding: 30px 20px 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    transform: scale(0.95);
    opacity: 0;
    transition: all 0.2s ease;
}

.modal-clients.show .modal-content {
    transform: scale(1);
    opacity: 1;
}

.modal-content .close-clients {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #EC221F;
    cursor: pointer;
}

.modal-content .close-clients:hover {
    color: #c3120f;
}

.modal-content label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 1px solid #EC221F;
    background-color: #e7e5e5;
}

.modal-content button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #EC221F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button[type="submit"]:hover {
    background-color: #c3120f;
}

/* Centrer le titre h2 */
#pieces h2 {
    text-align: center;
    margin-bottom: 20px;
    /* Un peu d'espace sous le titre */
}

.piecesContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    width: 80%;
}

/* Centrer la table */
.tablePieces {
    width: 85%;
    height: 30%;
    margin: 0 auto;
    /* Centrer la table horizontalement */
    border-collapse: collapse;
}

/* Bordures et style des cellules de la table */
.tablePieces,
.tablePieces th,
.tablePieces td {
    border: 1px solid black;
}

/* Mise en forme des cellules */
.tablePieces th,
.tablePieces td {
    padding: 8px;
    text-align: center;

}

/* Style pour les en-têtes */
.tablePieces th {
    background-color: #292929;
    color: white;
}

.tablePieces td {
    background-color: #e7e5e5;
    color: black;
}

.btn-modifierPiece {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-modifierPiece:hover {
    background-color: rgb(1, 102, 1);
}

.btn-supprimerPiece {
    background-color: #EC221F;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-supprimerPiece:hover {
    background-color: #c3120f;
}

/* Style des actions (boutons) */
.actions {
    display: flex;
    justify-content: center;
}

.content-section .table-container {
    width: 100%;
    padding: 20px;
    margin-top: 1600px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #e8e8e8;
    padding: 4px 8px;
    text-align: center;
    margin-top: 500px;
}

th {
    background-color: #292929;
}

td:hover {
    background-color: #e7e5e5;
    color: black;
    cursor: pointer;
}

.meca {
    background-color: #f98583;
    color: #e8e8e8;
    text-shadow: 2px 2px 2px #292929;
}

.caro {
    background-color: rgb(234, 169, 89);
    color: #e8e8e8;
    text-shadow: 2px 2px 2px #292929;
}

.gar {
    background-color: rgb(151, 195, 240);
    color: #e8e8e8;
    text-shadow: 2px 2px 2px #292929;
}

.time-col {
    background-color: #292929;
    font-weight: bold;
}